head
    meta(
        charset="utf-8"
        name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0"
        )
    if head_title
        title しょぼちゃっと - #{head_title}
    else
        title しょぼちゃっと
    script(
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
        )
    script(
        type="application/javascript"
        src=`js/client_${head_js_file}.js`
        )
    link(
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
        type="text/css"
        charset="utf-8"
        )
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        type="text/css"
        charset="utf-8"
        )
    link(
        rel="stylesheet"
        href=`css/${head_css_file}.css`
        type="text/css"
        charset="utf-8"
        )
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css"
        type="text/css"
        charset="utf-8"
        )
