doctype html
html
    block head

    body
        section.hero.is-primary
            .hero-body
                .container
                    h1.title しょぼちゃっと #{btn_txt}
        br
        .shobo-field
            label.username なまえ
            .control
                input.input#name(
                    type="text"
                    placeholder="なまえ"
                    )
            label.psw あいことば
            input.input#pass(
                    type="password"
                    placeholder="あいことば"
                    )
            block button
                button.button.shobo-jmp-btn.is-primary.is-rounded.is-outlined(id=`${id}`)
                    i.fas.fa-user-plus #{btn_txt}
