head
    meta(charset="utf-8")
    title #{title}
    script(
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"
        )
    script(
        type="text/javascript"
        src=`js/${js_file}`
        )
    link(
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
        )
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        )
    link(
        rel="stylesheet"
        href=`css/${css_file}`
        )
    link(
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css"
        type="text/css"
        charset="utf-8"
        )
