doctype html
html
    head
        meta(charset="utf-8")
        title しょぼちゃっと
        script(
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"
            )
        script(
            type="text/javascript"
            src="js/client_chat.js"
            )
        link(
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
            )
        link(
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            )
        link(rel="stylesheet" href="css/chat.css")
        link(
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/github-gist.min.css"
            type="text/css"
            charset="utf-8"
            )
    body
        include _navigation.pug

        include _popup_window.pug

        +popup_window({
            id: "help-popup",
            popup_close: "help-close",
            kind: "help",
            title: "Help"
        })

        +popup_window({
            id: "markdown-preview",
            popup_close: "markdown-preview-close",
            content_id: "markdown-preview-body",
            title: "Markdown Preview"
        })

        div.shobo-main#messageList

        include _input_area.pug
