
footer#main-footer
    div.box#fixed
        input.input.is-rounded#name(
            type="text"
            placeholder="名前"
            )
        textarea.shobo-textarea.textarea#message(
            cols="60"
            rows="2"
            placeholder="いまなにしてる？"
            )
        button.button.is-primary.is-rounded#send(disabled) 送信
        button.button.is-primary.is-rounded#send 更新
        button.button.is-primary.is-rounded#markdown-preview-open プレビュー表示
        div#queryMessage
