doctype html
html
    - var head_title="ろぐいん"
    - var head_js_file="login"
    - var head_css_file="page"
    include parts/_head.pug

    body
        - var id="login"
        - var purpose="ろぐいん"
        - var title=purpose
        include parts/_title.pug
        div.shobo-field
            label なまえ
            .control
                input.input#name(
                    type="text"
                    placeholder="なまえ"
                    )
            label あいことば
            input.input#pass(
                    type="password"
                    placeholder="あいことば"
                    )
            button.button.shobo-jmp-btn.is-primary.is-rounded.is-outlined(id=`${id}`)
                i.fas.fa-sign-in-alt #{purpose}
            div#login-status-message

